.button {
    padding: 0.7rem 1.5rem;
    background-color: var(--color1);
    border-radius: 0.5rem;
    font-weight: 600;
    font-size:medium;
}

.second-color {
    background-color: var(--grey1);
    color: white;
}

.border-white {
    border: 2px solid white;
}