.button {
    padding: 0.5rem 1.2rem;
    background-color: var(--grey4);
    border-radius: 0.5rem;
    font-weight: 600;
    font-size:medium;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: black;
}


.second-color {
    background-color: var(--grey1);
    color: white;
}



.mobile-button {
    width: 100%;
}