
.section-about {
    background-color: var(--color1);
    padding-bottom: 6rem;
   
}

.div-about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div-text {
    width: 50%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-family: "Lexend", sans-serif;
        font-size: 2.8rem;
        color: var(--grey1);
        line-height: 4rem;
    }

    p {
        color: var(--grey1);
        line-height: 1.5rem;
    }
}