
.section-about {
    background-color: var(--color1);
    padding-bottom: 6rem;
   
}

.flex {
    display: flex;
    gap: 1rem;
}

.div-about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div-text {
    width: 50%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-family: "Lexend", sans-serif;
        font-size: 2.8rem;
        color: var(--grey1);
        line-height: 4rem;
    }

    p {
        color: var(--grey1);
        line-height: 1.5rem;
    }
}


@media(max-width:768px){
   
    .div-about {
        align-items: center;
    }

    .div-text {
        width: 100%;

        h1 {
            font-size: 2.4rem;
            line-height: unset;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

}


@media(max-width:425px){
   
    .div-text {
        h1 {
            font-size: 1.8rem;
            line-height: unset;
        }
    }

}