
.section-about {
    background-color: var(--color1);
    padding-bottom: 6rem;
   
}

.div-about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div-text {
    width: 50%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}