
header {
    height: 5rem;
    background-color: var(--grey1);
    border-bottom: 2px solid white;
    color: white;
    position: fixed;
    width: 100%;
}

.div-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.div-infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.div-buttons {
    display: flex;
    gap: 1rem;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.name {
    font-family: "IBM Plex Sans";
    font-size: 1.3rem;
    color: var(--grey4);
}

.trigger {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: var(--grey1);
    padding: 1rem;
    position: fixed;
    top: 5rem;
    width: 100%;

}

@media(max-width:768px){
    .trigger {
        display: block;
    }

    .div-buttons {
        display: none;
    }

    .is-open {
        display: block;
    }

    .name {
        font-size: unset;
    }


}