.section-techs {
    background-color: var(--grey4);
    padding-bottom: 5rem;
}

.title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
}

.ul-stacks {

    display: flex;
    gap: 3rem;    
    width: 100%;
    flex-wrap: wrap;

    
    li {

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

}


@media(max-width:768px){

    .title {
        text-align: center;
    }
   
   .ul-stacks{
        justify-content: center;
   }
}

   

   