@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Inter:wght@400;500;600&family=Lexend:wght@500;600&display=swap");


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family:"Inter", sans-serif;
   
}

:root {
    --color1: #FAD02A;
    --color2: #7D82F1;
    --color3: #BEC1F8;
    --color4: #0E0E0E;
    --grey1: #212529;
    --grey2: #495057;
    --grey3: #CED3D7;
    --grey4: #F1F3F5;
    --grey5: #F8F9FA;
    --grey6: #DEE0FB;
    --white: #FFFF;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

button, a {
    cursor: pointer;
    display: inline-block;
    color: unset;
}

button, a:hover {
    opacity: 0.8;
}